# Define stages for the CI/CD pipeline
stages:
  - build
  - deploy
  - clean

variables:
  HARBOR_REGISTRY: harbor.treok.eu/devops_exercise3_nctesa # Harbor registry project URL
  IMAGES_TAG: 1.0 # Tag for Docker images
  DOCKER_HOST: "unix:///runner/services/docker/docker.sock" # Use Docker-in-Docker socket

before_script:
  - apk add --no-cache ansible openssh-client # Install Ansible and SSH client
  - mkdir -p ~/.ssh # Create SSH directory
  - echo "$SSH_KEY" | base64 -d > ~/.ssh/id_rsa # Decode and save SSH private key
  - chmod 600 ~/.ssh/id_rsa # Set permissions for SSH key
  - echo -e "Host *\n\tStrictHostKeyChecking no\n\tUserKnownHostsFile=/dev/null\n" > ~/.ssh/config # Disable host key checking

build:
  stage: build
  image: docker:24
  services:
    - name: docker:dind
      alias: docker-host
  before_script:
    - echo "Logging in to Harbor..."
    - docker login harbor.treok.eu -u "$HARBOR_USER" -p "$HARBOR_PASSWORD"
  script:
    - echo "Building service1..."
    - docker build -t service1:$IMAGES_TAG service1

    - echo "Building service2..."
    - docker build -t service2:$IMAGES_TAG service2

    - echo "Building storage..."
    - docker build -t storage:$IMAGES_TAG storage

    - echo "Tagging images..."
    - docker tag service1:$IMAGES_TAG $HARBOR_REGISTRY/service1:$IMAGES_TAG
    - docker tag service2:$IMAGES_TAG $HARBOR_REGISTRY/service2:$IMAGES_TAG
    - docker tag storage:$IMAGES_TAG $HARBOR_REGISTRY/storage:$IMAGES_TAG

    - echo "Pushing all images to Harbor..."
    - docker push $HARBOR_REGISTRY/service1:$IMAGES_TAG
    - docker push $HARBOR_REGISTRY/service2:$IMAGES_TAG
    - docker push $HARBOR_REGISTRY/storage:$IMAGES_TAG
  after_script:
    - echo "Cleaning up local Docker images..."
    - docker system prune -af || true
  rules:
    - if: '$CI_COMMIT_TAG == "deploy"'

deploy:
  stage: deploy
  image: alpine:3.22
  script:
    - ssh -i ~/.ssh/id_rsa $DEPLOY_USER@$DEPLOY_HOST "echo Connected successfully" # Test SSH connection
    - echo "Running Ansible playbook to deploy application on VM..."
    - |
      echo "[web]" > inventory.ini
      echo "$DEPLOY_HOST ansible_user=$DEPLOY_USER" >> inventory.ini
      ansible-playbook -i inventory.ini ansible/deploy.yaml --extra-vars "harbor_user=$HARBOR_USER harbor_password=$HARBOR_PASSWORD harbor_registry=harbor.treok.eu postgres_user=$POSTGRES_USER postgres_password=$POSTGRES_PASSWORD postgres_db=$POSTGRES_DB postgres_port=$POSTGRES_PORT"
  after_script:
    - rm -rf ~/.ssh # Clean up SSH keys
  rules:
    - if: '$CI_COMMIT_TAG == "deploy"'

clean:
  stage: clean
  image: alpine:3.22
  script:
    - echo "Running Ansible playbook to clean PostgreSQL logs..."
    - |
      echo "[web]" > inventory.ini
      echo "$DEPLOY_HOST ansible_user=$DEPLOY_USER" >> inventory.ini
      ansible-playbook -i inventory.ini ansible/clean.yaml --extra-vars "postgres_user=$POSTGRES_USER postgres_password=$POSTGRES_PASSWORD postgres_db=$POSTGRES_DB postgres_port=$POSTGRES_PORT"
  after_script:
    - rm -rf ~/.ssh # Clean up SSH keys
  rules:
    - if: '$CI_COMMIT_TAG == "clean"'
